* {
  font-family: Helvetica, sans-serif, Arial;
  color: darkslategray;
  box-sizing: border-box;
  outline: none;
}

.search-bar {
  padding: 0.5em 1em;
  font-size: 1em;
  outline: 0;
  border: 0;
  border: 1px solid #a4b0be;
  min-width: 320px;
  margin: 0 0 0.25em 0;
  border-radius: 5px;
}

.search-bar:hover {
  box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.search-bar:active, .search-bar:focus {
  box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.5);
}

.all-results {
  background-color: white;
  display: flex;
  outline: 0;
  flex-direction: column;
  text-align: start;
  border-radius: 5px;
  border: 1px solid #a4b0be;
}

.result {
  padding: 0.33em 1.0em;
  text-decoration: none;
  border-radius: 5px;
}

.result:hover, .result:focus {
  background-color: #dfe4ea;
}

.no-result {
  margin: 0;
  padding: 0.33em 1.0em;
  font-size: 0.9em;
  color: darkslategray;
}